:root {
  --container-width: 119rem;
  --guter: 12rem;

  --color-black: #000;
  --color-white: #fff;
  --color-blue: #2374e1;
  --color-lite-blue: #1d9bf0;
  --color-dark-blue: #0a66c2;
  --color-darker-blue: #143ce8;
  --color-red: #ff0000;
  --color-green: #03a696;
  --color-gray: #f6f6f6;
  --color-dark-green: #42959b;

  --color-background: var(--color-white);
  --color-text: var(--color-black);
  --color-box-img: var(--color-black);
  --color-link-bg: var(--color-black);
  --color-input-border: var(--color-black);

  --font-family-raleway: "Raleway", sans-serif;
  --font-family-poppins: "Poppins", sans-serif;

  --font-weight-regular: 400;
  --font-weight-mesium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --font-size-70: 7rem;
  --font-size-65: 6.5rem;
  --font-size-40: 4rem;
  --font-size-38: 3.8rem;
  --font-size-24: 2.4rem;
  --font-size-22: 2.2rem;
  --font-size-20: 2rem;
  --font-size-18: 1.8rem;
  --font-size-15: 1.5rem;

  --transition-timing: 0.3s;
}
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}
/* END CSS Reset */

body {
  font-size: 1.6rem;
  font-family: var(--font-family-raleway);
  background-color: var(--color-background);
  color: var(--color-text);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--guter);
}

.navigation__link {
  display: flex;
  gap: 2rem;
}
.navigation__list {
  text-decoration: none font-si;
}
